@using ProjName.Areas.ProjNameArea.Views.Default
@using System.Web.Mvc.Html

@inherits SampleBase

@{
    ViewBag.Title = "SampleBase";
}

<main>
    <h2>SampleBase</h2>

    <div>
        <h4>DemoModule</h4>

        <blockquote>Sorry, but this sample is not yet complete.</blockquote>
    </div>

</main>

<link href="@ViewBag.BaseRef/Content/Styles/Layout.css" rel="stylesheet" />
<script src="@ViewBag.BaseRef/Content/Scripts/Demo.js"></script>
