
@{
    ViewBag.Title = "You";
}

<h2>You</h2>

<details>
    <summary>My Request Context</summary>
    @{
        foreach (var item in Url.RequestContext.RouteData.Values)
        {
            <text>@item.Key, "@item.Value" -</text>
        }
        <br />
        foreach (var item in Url.RequestContext.RouteData.DataTokens)
        {
            <text>@item.Key, "@item.Value" -</text>
        }
        
    }
</details>
