@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This demo is to illustrate the following:</p>

<ul>
    <li>Supporting library for identifying/hosting MVC Modules</li>
    <li>Hosting an MVC Module</li>
    <li>Creating an MVC Module</li>
    <li>Supporting HttpPost in a hosted module</li>
    <li>Supporting @@Html.ActionLink in a hosted module</li>
</ul>
