
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Action Air Traffic</h3>
    </div>
    <div class="panel-body">
        @Html.Action("Index", "AirTraffic", new { area = "Airport" })
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Action Individual Airline</h3>
    </div>
    <div class="panel-body">
        @Html.Action("Index", "Airline", new { area = "Airport" })
    </div>
</div>
