@using WebApp

<!-- Menu of Registered Application -->
<div class="row">
    <div class="col-md-12">
        @{
            foreach (var mod in WebApp.MvcApplication.RegisteredMvcModules)
            {
                @Html.ActionLink(mod.DefaultLinkText, mod.DefaultAction, mod.DefaultController, new { area = mod.DefaultArea }, new { @class = "btn btn-success" })
            }
        }

    </div>
</div>